<% include ../partials/header.ejs %>
<h3><span class="glyphicon glyphicon-info-sign"></span><%= bot_nickname %> is Operational</h3>
<hr />
<div class="row">
<div class="col-lg-12">
<a href="<%= discord_invite_link %>">
<img style="max-width:300px;" src="https://cdn.arstechnica.net/wp-content/uploads/2017/08/Discord-LogoWordmark-Color-800x272.png">
</div>
</div>
<% include ../partials/footer.ejs %>