<div id="navbar">
  <a href="/" target="_new"><button type="button" class="btn btn-dark">Home</button></a>
  <a href="/posts" target="_new"><button type="button" class="btn btn-dark">Posts</button></a>
  <a href="/logs" target="_new"><button type="button" class="btn btn-dark">Logs</button></a>
  <a href="/api/status" target="_new"><button type="button" class="btn btn-dark">Status</button></a>
  <a href="https://www.github.com/nodefried/nodefried" target="_new"><button type="button" class="btn btn-dark">GitHub</button></a>
  <a href="https://www.npmjs.com/package/nodefried" target="_new"><button type="button" class="btn btn-dark">NPM</button></a>
</div>
